# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# SQLite / banco local
*.db
*.sqlite
*.sqlite3

# PyInstaller
build/
dist/
*.spec

# Selenium
chromedriver.exe

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp